USE [Payroll_LargeDB]
GO
/****** Object:  Trigger [dbo].[trg_CheckWorkDate]    Script Date: 04.01.2026 18:28:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[trg_CheckWorkDate]
ON [dbo].[TimeTracking]
AFTER INSERT, UPDATE
AS
BEGIN
    IF EXISTS (SELECT 1 FROM inserted WHERE WorkDate > GETDATE())
    BEGIN
        RAISERROR ('Дата роботи не може бути у майбутньому.', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;